DATABASE_URL= # Your database url connection string
JWT_SECRET= # Your JWT secret string
EMAIL_PASS= # Your app password from https://myaccount.google.com/apppasswords
EMAIL_USER= # Your email address as sender for the app
EMAIL_HOST= # Your email host provider
APP_NAME= # Your app name
APP_LOGO_URL= # Your app logo
APP_BASE_URL= # Your app front-end's URL
REDIS_DATABASE_URL= # Your redis database url connection string
PORT= # Your app's port
GOOGLE_CLIENT_ID= # Google client ID
GOOGLE_CLIENT_SECRET= # 
GOOGLE_CALLBACK_URL=