DATABASE_URL= # Your database URL string
JWT_SECRET= # Your JWT secret string
EMAIL_PASS= # Your app password from https://myaccount.google.com/apppasswords
EMAIL_USER= # Your email address as sender for the app
EMAIL_HOST= # Your email host provider
APP_NAME= # Your app name
APP_LOGO_URL= # Your app logo
APP_BASE_URL= # Your app front-end's URL